body {
  background-color: #e4daf7;
  text-align: left;
}

h1 {
  font-family: 'Times New Roman';
  font-size: 60px;
  color: black;
}

h2{
  font-family: 'Times New Roman';
  font-size: 40px;
  color: black;
}

h3{
  font-family: 'Times New Roman';
  font-size: 22px;
  color: black;
}
