body {
  background-color: #e4daf7;
  margin: 5;
  Padding: 50px;
  text-align: left;
}

h1 {
  font-size: 60px;
  color: black;
}

h2{
  font-size: 40px;
  color: black;
}

h3{
  font-size: 22px;
  color: black;
}

h4{
  font-size: 30px;
  color: black;
  line-height: .5;
}
